<h1>Edit Page: <%= @title %></h1>

<div>
  <form method="post" action="/<%= @title %>">
    <input type="hidden" name="_method" value="put">
    <label for="content">Content</label>
    <br>
    <textarea id="content" rows="10" columns="50" name="content"><%= @content %></textarea>
    <br><br>
    <input type="submit">
  </form>
</div>
