<h1>Add New Page</h1>

<div>
  <form method="post" action="/create">
    <label for="title">Title</label>
    <br>
    <input id="title" type="text" name="title">
    <br><br>
    <label for="content">Content</label>
    <br>
    <textarea id="content" rows="10" columns="50" name="content"></textarea>
    <br><br>
    <input type="submit">
  </form>
</div>
