<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Wiki App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Welcome to our wiki!!</h1>
    <p>Visit /PageName to view a page</p>
    <a href="/new">Create a new page</a>
  </body>
</html>
